.dropzone {
  border: 2px solid #ef1111;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  outline: none;
  width: 40%;
}

.error {
  color: red;
  margin: 16px 0;
}

.preview {
  margin-top: 24px;
}
